*{
    box-sizing: border-box;
    padding : 0;
    margin : 0;

}

.App{
    display:flex;
    justify-content : space-around;
}

.data{
    width: 50%;
    padding : 50px
}

.transactions-list{
    width: 50%;
    padding : 50px
}

.cred-deb{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.credited > h3 {
    color : green;
    margin-bottom: 20px;
}

.debited > h3 {
    color : red;
    margin-bottom: 20px;
}

.transaction-item{
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.add-transaction-title{
    margin-top: 20px;
    margin-bottom: 20px;
}

input{
    width : 100%;
    padding: 15px;
    margin-bottom : 10px;
}

button { 
    padding : 13px 15px;
    background-color: #111111;
    color : white;
    font-weight: bold;
    border : none;
    outline : none;
}

.current-balance{
    background-color: #111111;
    color : white;
    font-weight: bold;
    padding-left : 15px;
    padding-top: 5px ;
    padding-bottom : 5px;
}

.current-balance > h1{
    margin-bottom: 20px;
}

.green {
    border-right: 4px solid green;
}

.red{
    border-right: 5px solid red;
}

form > div {
    width : 100%
}

.transaction-header{
    margin-bottom : 2px;
    padding-bottom : 20px;
    border-bottom : 2px solid black;
}

@media only screen and (max-width : 800px){
    .App{
        flex-direction : column;
    }
    .data{
        width : 100%
    }
    .transactions-list{
        width : 100%
    }
}